<div id="add-form-container" class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Divulgue a vaga preenchendo o formulário</h1>
    </div>
    <div id="form-box" class="col-md-12">
      <h2>
        Preencha os dados da melhor forma possível para encontrar mais rápido
        seu desenvolvedor!
      </h2>
      <form action="/jobs" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Título da vaga:</label>
          <input type="text" name="title" id="title" class="form-control" placeholder="Digite o título da vaga"
            required />
          <div id="titleHelp" class="form-text">O título é muito importante! Seja claro e objetivo.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição da vaga:</label>
          <textarea name="description" id="description" class="form-control" placeholder="Digite a descrição da vaga"
            required></textarea>
        </div>
        <div class="mb-3">
          <label for="company" class="form-label">Empresa contratante:</label>
          <input type="text" name="company" id="company" class="form-control"
            placeholder="Digite a empresa que vai contratar" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail para contato:</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Digite o email para contato"
            required />
        </div>
        <div class="mb-3">
          <label for="salary" class="form-label">Salário da vaga:</label>
          <input type="number" name="salary" id="salary" class="form-control" placeholder="Digite o salário da vaga"
            required />
        </div>
        <input type="hidden" name="isNew" value="1" />
        <button type="submit" class="btn btn-primary">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
