<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Job Finder</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/custom/css/style.css" />
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a href="/" class="navbar-brand">Job Finder</a>
      <button class="navbar-toggler" data-toggler="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Ver Vagas</a>
          </li>
          <li class="nav-item">
            <a href="/jobs/add" class="nav-link btn btn-primary">Adicionar
              Vaga</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {{{body}}}
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
